@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));



@layer utilities {
  @keyframes moveRight {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(4px); } /* خليتها 4 عشان تبان عينك الفرق */
  }

  .animate-move-right {
    animation: moveRight 1s ease-in-out infinite;
  }
}


.blobs {
  filter: url('#goo');
}

.blob-btn:hover .blob {
  transform: translateZ(0) scale(1.7);

}

@supports (filter: url("#goo")) {
  .blob-btn:hover .blob {
    transform: translateZ(0) scale(1.4);
  }
}

